<p class="text-sm">Verifica los datos para confirmar tu solicitud:</p>

<div class="flex flex-column gap-2 pb-4">
  @for (item of messages; track $index) {
  <div class="text-sm flex align-items-center gap-2">
    <i [class]="item.icon"></i> {{ item.label }}:
    <span class="font-semibold">
      @if (item.pipe) {
      {{ item.value | mchFormatDate }}
      } @else {
      {{ item.value }}
      }
    </span>
  </div>
  }
</div>

<div class="flex flex-wrap gap-1 justify-content-end">
  <p-button
    label="Cancelar"
    [text]="true"
    severity="secondary"
    class="text-sm"
    (onClick)="cancel()"
  />
  <p-button
    label="Confirmar"
    icon="pi pi-check"
    severity="success"
    class="text-sm"
    (onClick)="onConfirm()"
  />
</div>
