<h4>{{ title }}</h4>
<ul class="list-none">
  @for (personaje of personajes; track $index;let ev = $even, od = $odd) {
  <li
    (click)="onRemoveCharacter(personaje?.id)"
    class="p-1 flex justify-between justify-content-between align-items-center"
    [ngClass]="{
      clasePar: ev,
      'border-1 border-orange-500 border-round-sm': od
    }"
  >
    <span
      >{{ $index + 1 }} {{ personaje.name }} - Power {{ personaje.power }}</span
    >
    <p-button icon="pi pi-times" severity="danger" [rounded]="true" />
  </li>
  }
</ul>
