<div class="fadein animation-duration-1000">
  <h2 class="text-base font-semibold">Solicitud de ausencia por días</h2>
  <p-divider />
  <form [formGroup]="frmAusenciaPorDias" (ngSubmit)="onSubmit()">
    <div class="grid">
      <div class="col-12">
        <label class="text-sm font-semibold block mb-2">Motivo</label>
        <div class="flex flex-column gap-2">
          @for (motivo of motivosAusencia; track $index) {
          <div class="flex align-items-center">
            <p-radioButton
              [inputId]="motivo"
              formControlName="tipoAusencia"
              [value]="motivo"
            />
            <label [for]="motivo" class="ml-2 text-sm">
              {{ motivo }}
            </label>
          </div>
          }
        </div>
        @if (isInvalidTipoAusencia) {
        <div
          mch-msgValidationField
          [errors]="tipoAusenciaField.errors"
          class="text-sm mt-1 text-red-600"
        ></div>
        }
      </div>
      <div class="col-12">
        <label for="rangoAusencia" class="text-sm font-semibold block mb-2"
          >Fecha o rango
        </label>

        <p-calendar
          formControlName="rangoAusencia"
          selectionMode="range"
          [numberOfMonths]="1"
          [readonlyInput]="true"
          [showIcon]="true"
          [iconDisplay]="'input'"
          [inline]="true"
          inputId="rangoAusencia"
          [ngClass]="{ 'ng-invalid ng-dirty': isInvalidRandoFechas }"
        />
        @if (rangoAusenciaField.value.length) {
        <p class="text-gray-400 text-xs font-italic m-0 mt-1">
          Fecha: {{ rangoAusenciaField.value | mchFormatDate }}
        </p>
        } @if (isInvalidRandoFechas) {
        <div
          mch-msgValidationField
          [errors]="rangoAusenciaField.errors"
          class="text-sm mt-1 text-red-600"
        ></div>
        }
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-button
          label="Aceptar"
          [rounded]="true"
          type="submit"
          class="text-sm"
        ></p-button>
      </div>
    </div>
  </form>

  <p-toast
    [breakpoints]="{ '576px': { width: '100%', right: '0', left: '0' } }"
  />
</div>
