/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

a.p-menuitem-link-active {
  outline: none !important;
  user-select: none !important;
  font-weight: bold;
}
